<div class="flex flex-col">
    <span class="font-semibold text-2xl">Copyright</span>
    <div><a href="https://www.freepik.com/free-vector/teenager-concept-illustration_8610297.htm#page=2&query=gathering&position=23&from_view=author"
            class="text-blue-700 underline">Image
            by storyset</a> on Freepik</div>
    <div><a href="https://www.freepik.com/free-vector/appreciation-concept-illustration_5357571.htm#query=gathering&position=49&from_view=author"
            class="text-blue-700 underline">Image
            by storyset</a> on Freepik</div>
    <div> <a href="https://www.freepik.com/free-vector/appreciation-concept-illustration_5357571.htm#query=gathering&position=49&from_view=author"
            class="text-blue-700 underline">Image
            by storyset</a> on Freepik</div>
    <div> <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons"
            class="text-blue-700 underline">Twitter icons created by Freepik -
            Flaticon</a></div>
    <div><a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons"
            class="text-blue-700 underline">Facebook icons created by Freepik
            -
            Flaticon</a></div>
    <div><a href="https://www.flaticon.com/free-icons/instagram-logo" title="instagram logo icons"
            class="text-blue-700 underline">Instagram logo icons
            created by Laisa Islam Ani - Flaticon</a></div>
</div>