<h1 mat-dialog-title>Add Fanbase</h1>
<div mat-dialog-content>
  <div class="mb-4">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
    <input id="name" type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required=""
      (keyup)="setName($event)">
  </div>

  <div class="mb-4">
    <label for="address" class="block mb-2 text-sm font-medium text-gray-900">Address</label>
    <input id="address" type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required=""
      (keyup)="setAddress($event)">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>