<div class="h-screen md:flex">
    <div class="flex md:w-96 justify-center py-10 items-center bg-gray-100">
        <form class="bg-gray-100" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello Again!</h1>
            <p class="text-sm font-normal text-gray-600 mb-7">No Account? Register here</p>

            <!--Email field-->
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207">
                    </path>
                </svg>
                <input class="pl-2 outline-none border-none bg-gray-100" type="text" id="email"
                    placeholder="Email Address" formControlName="email">
            </div>
            <!--Error handling for email-->
            <span class="text-red-500" *ngIf="checkEmailRequired()">
                Email is required
            </span>
            <span class="text-red-500" *ngIf="checkEmailFormat()">
                Enter a vaild email address
            </span>
            <div class=" mb-4"></div>

            <!--Password field-->
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <input class="pl-2 outline-none border-none bg-gray-100" [type]="hide ? 'password' : 'text'"
                    id="password" placeholder="Password" formControlName="password">
                <span class="material-symbols-outlined text-gray-400 cursor-pointer" *ngIf="!hide" (click)="changeHide()"> visibility_off </span>
                <span class="material-symbols-outlined text-gray-400 cursor-pointer" *ngIf="hide" (click)="changeHide()"> visibility </span>
            </div>
            <!--Error handling for email-->
            <span class="text-red-500" *ngIf="checkPasswordRequired()">
                Password is required
            </span>

            <button type="submit" class="block w-full mt-4 py-2 rounded-2xl text-white font-semibold mb-2"
                style="background-color: #8A6244;">Login</button>
            <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer">Forgot Password ?</span>
        </form>
    </div>

    <div class="relative overflow-hidden md:flex flex-grow i justify-around items-center hidden">
        <img src="../../assets/images/social_media.svg" class="h-3/4">
    </div>
</div>

<!-- 
<a href="https://www.freepik.com/free-vector/teenager-concept-illustration_8610297.htm#page=2&query=gathering&position=23&from_view=author">Image by storyset</a> on Freepik
<a href="https://www.freepik.com/free-vector/appreciation-concept-illustration_5357571.htm#query=gathering&position=49&from_view=author">Image by storyset</a> on Freepik
<a href="https://www.freepik.com/free-vector/appreciation-concept-illustration_5357571.htm#query=gathering&position=49&from_view=author">Image by storyset</a> on Freepik
<a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/instagram-logo" title="instagram logo icons">Instagram logo icons created by Laisa Islam Ani - Flaticon</a> -->