<div class="flex flex-row h-screen" *ngIf="!isLoginPage">
  <app-sidebar></app-sidebar>
  <div class="flex flex-col grow px-8 py-3" style="background-color:#FAFAFA;">
    <router-outlet></router-outlet>
  </div>

  <div
    class="flex justify-between p-4 space-x-8 text-gray-500 rounded-lg shadow bg-green-100 border-green-500 absolute right-10 bottom-8"
    *ngIf="message != ''">
    <div class="flex items-center space-x-2">
      <span class="material-symbols-outlined icon-green w-5 h-5">
        check_circle
      </span>
      <div class="pl-2 pt-0.5 text-sm font-normal">{{message}}</div>
    </div>
    <span class="material-symbols-outlined w-5 h-5">
      close
    </span>
  </div>
</div>
<div *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</div>