<form [formGroup]="idolDetailForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-row justify-items-end space-x-2 px-10 py-4 place-content-end">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/idol">Cancel</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
    </div>
    <div class="flex flex-row space-x-10 px-10 py-2">
        <div class="w-1/2">

            <!--Name Field-->
            <div class="mb-4">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                <input id="name" type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required="" formControlName="name">
                    <!--Error handling for name-->
                    <span class="text-red-500 text-xs" *ngIf="checkNameRequired()">
                        Name is required
                    </span>
            </div>

            <!--Gender Field-->
            <div class="mb-4">
                <label for="gender" class="block mb-2 text-sm font-medium text-gray-900">Gender</label>
                <select id="gender"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    formControlName="gender">
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Mix</option>
                </select>
            </div>

            <!--Member Amount Field-->
            <div class="mb-4">
                <label for="member_amount" class="block mb-2 text-sm font-medium text-gray-900">Member Amount</label>
                <div class="flex flex-row space-x-2">
                    <a class="cursor-pointer border border-gray-50 bg-gray-200 px-2 rounded-md"
                        (click)="addMemberAmount()">+</a>
                    <input type="text" id="member_amount"
                        class="ml-4 bg-gray-50 text-gray-900 text-sm rounded-lg block w-2 cursor-default"
                        formControlName="member_amount"
                        readonly>
                    <a class="cursor-pointer border border-gray-50 bg-gray-200 px-2 rounded-md"
                        (click)="deductMemberAmount()">-</a>
                </div>
            </div>
        </div>
        <div class="w-1/2">
        </div>
    </div>
</form>

<div class="flex justify-between p-4 space-x-8 text-gray-500 rounded-lg shadow bg-red-100 border-red-100 absolute right-10 bottom-8"
    *ngIf="isFail">
    <div class="flex items-center space-x-2">
        <span class="material-symbols-outlined icon-red w-5 h-5">
            error
        </span>
        <div class="pl-2 pt-0.5 text-sm font-normal" *ngIf="!isUpdate">Fail to add new idol</div>
        <div class="pl-2 pt-0.5 text-sm font-normal" *ngIf="isUpdate">Fail to update existing idol</div>
    </div>
    <span class="material-symbols-outlined w-5 h-5">
        close
    </span>
</div>