<div class="flex flex-row justify-between mb-3">
    <div class="text-3xl font-bold">{{eventList.length}} events</div>
    <button type="button" class="rounded-md bg-black text-white px-2" routerLink="/event/detail">+ Create new</button>
</div>
<div class="rounded-md bg-white px-5 py-5">
    <div class="flex flex-row px-2 py-3 border space-x-10" style="background-color:#FAFAFA;">
        <div class="w-1/6 flex flex-row">
            Name
            <!-- <span class="material-symbols-outlined"> keyboard_arrow_down </span> -->
        </div>
        <div class="w-1/4 flex flex-row">
            Date
            <!-- <span class="material-symbols-outlined"> keyboard_arrow_down </span> -->
        </div>
        <div class="w-1/6 flex flex-row">
            Idol
            <!-- <span class="material-symbols-outlined"> keyboard_arrow_down </span> -->
        </div>
        <div class="w-1/6 flex flex-row">
            Fanbase
            <!-- <span class="material-symbols-outlined"> keyboard_arrow_down </span> -->
        </div>
        <div class="w-1/6 flex flex-row">
            Venue
            <!-- <span class="material-symbols-outlined"> keyboard_arrow_down </span> -->
        </div>
        <div class="w-1/12 text-end">
            Action
        </div>
    </div>

    <!-- <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button type="button" class="delete" title="delete hero"
          (click)="delete(hero)">x</button>
      </li> -->

    <div class="flex flex-row px-2 py-3 space-x-10" *ngFor="let event of eventList">
        <div class="w-1/6">
            {{event.name}}
        </div>
        <div class="w-1/4">
            <span class="rounded-lg px-1 py-1 bg-cyan-200">{{event.date[0]}} {{event.start_time[0]}} ~
                {{event.end_time[0]}}</span>
        </div>
        <div class="w-1/6">
            {{event.idol_name}}
        </div>
        <div class="w-1/6">
            {{event.fanbase_name}}
        </div>
        <div class="w-1/6">
            {{event.venue_name}}
        </div>
        <div class="w-1/12">
            <div class="flex flex-row space-x-2 justify-end">
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1"
                    [routerLink]="['/event/detail', event.id]"> edit </a>
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1"
                    [routerLink]="['/booking', event.id]" *ngIf="event.is_booking_need"> confirmation_number
                </a>
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1 cursor-pointer"
                    (click)="deleteEvent(event.id, event.name)"> delete </a>
            </div>
        </div>
    </div>
</div>