<div class="flex flex-row justify-between mb-3">
    <div class="text-3xl font-bold">{{eventList.length}} events</div>
    <button type="button" class="rounded-md bg-black text-white px-2" routerLink="/event/detail">+ Create new</button>
</div>
<div class="rounded-md bg-white px-5 py-5">
    <div class="flex flex-row px-2 py-3 border space-x-10" style="background-color:#FAFAFA;">
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('event_name')">
            Name
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'event_name' && seq == 'ASC'"> keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'event_name' && seq == 'DESC'"> keyboard_arrow_up </span>
        </div>
        <div class="w-1/4 flex cursor-pointer" (click)="getEventList('date')">
            Date
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'date' && seq == 'ASC'"> keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'date' && seq == 'DESC'"> keyboard_arrow_up </span>
        </div>
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('idol_name')">
            Idol
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'idol_name' && seq == 'ASC'"> keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'idol_name' && seq == 'DESC'"> keyboard_arrow_up </span>
        </div>
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('fanbase_name')">
            Fanbase
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'fanbase_name' && seq == 'ASC'"> keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'fanbase_name' && seq == 'DESC'"> keyboard_arrow_up </span>
        </div>
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('venue_name')">
            Venue
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'venue_name' && seq == 'ASC'"> keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'venue_name' && seq == 'DESC'"> keyboard_arrow_up </span>
        </div>
        <div class="w-1/12 text-end">
            Action
        </div>
    </div>

    <div class="flex flex-row px-2 py-3 space-x-10" *ngFor="let event of eventList">
        <div class="w-1/6">
            {{event.name}}
        </div>
        <div class="w-1/4">
            {{event.date[0]}} {{event.start_time[0]}} ~ {{event.end_time[0]}}
        </div>
        <div class="w-1/6">
            {{event.idol_name}}
        </div>
        <div class="w-1/6">
            {{event.fanbase_name}}
        </div>
        <div class="w-1/6">
            {{event.venue_name}}
        </div>
        <div class="w-1/12">
            <div class="flex flex-row space-x-2 justify-end">
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1"
                    [routerLink]="['/event/detail', event.id]"> edit </a>
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1"
                    [routerLink]="['/booking', event.id]" *ngIf="event.is_booking_need"> confirmation_number
                </a>
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1 cursor-pointer"
                    (click)="deleteEvent(event.id, event.name)"> delete </a>
            </div>
        </div>
    </div>
</div>