<div class="flex flex-row justify-between mb-3">
    <div class="text-3xl font-bold">{{eventList.length}} events</div>
    <button type="button" class="rounded-md bg-black text-white p-2" routerLink="/event/detail">+ Create
        new</button>
</div>

<div class="mb-2 relative">
    <div class="grid grid-flow-col auto-cols-max gap-2">
        <div>
            <button class="py-1 px-2 text-sm rounded-md w-full flex items-center justify-center"
                ngClass="{{showIndex == 0 ? 'bg-white shadow-md': 'bg-gray-200'}}" (click)="changeShowIndex(0)">
                <span class="material-symbols-outlined mr-1">badge</span>{{name == null ? 'Name' : name}}
            </button>
            <div class="absolute px-2 bg-white rounded-md shadow-md top-10" *ngIf="showIndex == 0">
                <input id="name" type="text"
                    class="my-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-1"
                    placeholder="Enter name here" (value)="name" (keyup.enter)="changeName($event)" [@grow]>
                <span class="material-symbols-outlined absolute top-3 right-3 cursor-pointer"
                    (click)="submitName()">keyboard_return</span>
            </div>
        </div>
        <div>
            <button class="bg-gray-200 py-1 px-2 text-sm rounded-md w-full flex items-center justify-center"
                ngClass="{{showIndex == 1 ? 'bg-white shadow-md': 'bg-gray-200'}}" (click)="changeShowIndex(1)">
                <span class="material-symbols-outlined mr-1">date_range</span>Date Range
            </button>
            <div class="absolute px-2 bg-white w-1/6 rounded-md shadow-md top-10" *ngIf="showIndex == 1" [@grow]>
                <mat-date-range-input
                    class="my-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-2 py-1 pr-8"
                    [formGroup]="range"
                    [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start Date">
                    <input matEndDate formControlName="end" placeholder="End Date" (dateChange)="changeDate()">
                </mat-date-range-input>
                <mat-datepicker-toggle class="absolute top-0 right-0" matIconSuffix
                    [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </div>
        </div>
        <div>
            <button class="py-1 px-2 text-sm rounded-md w-full flex items-center justify-center"
                ngClass="{{showIndex == 2 ? 'bg-white shadow-md': 'bg-gray-200'}}" (click)="changeShowIndex(2)"><span
                    class="material-symbols-outlined mr-1">flag</span>{{getFanbaseName()}}</button>
            <div class="absolute px-2 bg-white rounded-md shadow-md top-10 w-2/12" *ngIf="showIndex == 2" [@grow]>
                <select
                    class="my-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-1"
                    required (change)="changeFanbase($event)">
                    <option value="">Select Fanbase</option>
                    <option *ngFor="let fanbase of fanbaseList" [value]="fanbase.id"
                        [selected]="fanbaseId == fanbase.id">{{fanbase.name}}</option>
                </select>
            </div>
        </div>
        <div>
            <button class="py-1 px-2 text-sm rounded-md w-full flex items-center justify-center"
                ngClass="{{showIndex == 3 ? 'bg-white shadow-md': 'bg-gray-200'}}" (click)="changeShowIndex(3)"><span
                    class="material-symbols-outlined mr-1">groups</span>{{getIdolName()}}</button>
            <div class="absolute px-2 bg-white rounded-md shadow-md top-10 w-2/12" *ngIf="showIndex == 3" [@grow]>
                <select
                    class="my-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-1"
                    required (change)="changeIdol($event)">
                    <option value="">Select Idol</option>
                    <option *ngFor="let idol of idolList" [value]="idol.id" [selected]="idolId == idol.id">{{idol.name}}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <button class="py-1 px-2 text-sm rounded-md w-full flex items-center justify-center"
                ngClass="{{showIndex == 4 ? 'bg-white shadow-md': 'bg-gray-200'}}" (click)="changeShowIndex(4)"><span
                    class="material-symbols-outlined">explore</span>{{getVenueName()}}</button>
            <div class="absolute px-2 bg-white rounded-md shadow-md top-10 w-2/12" *ngIf="showIndex == 4" [@grow]>
                <select
                    class="my-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-1"
                    required (change)="changeVenue($event)">
                    <option value="">Select Venue</option>
                    <option *ngFor="let venue of venueList" [value]="venue.id" [selected]="venueId == venue.id">
                        {{venue.name}}</option>
                </select>
            </div>
        </div>
        <div>
            <button class="py-1 px-2 text-sm rounded-md w-full flex items-center justify-center"
                ngClass="{{showIndex == 5 ? 'bg-white shadow-md': 'bg-gray-200'}}" (click)="changeShowIndex(5)"><span
                    class="material-symbols-outlined">book_online</span>{{getBookingNeed()}}</button>
            <div class="absolute px-2 py-2 bg-white rounded-md shadow-md top-10 w-1/12" *ngIf="showIndex == 5" [@grow]>
                <input type="radio" id="yes" name="is_booking_need" value="true" (click)="changeBookingNeed(1)"
                    [checked]="bookingNeed == 1"><label for="yes"> Yes</label><br>
                <input type="radio" id="no" name="is_booking_need" value="false" (click)="changeBookingNeed(0)"
                    [checked]="bookingNeed == 0"><label for="no"> No</label>
            </div>
        </div>
    </div>
</div>

<div class="rounded-md bg-white px-5 py-5">
    <div class="flex flex-row px-2 py-3 border space-x-10" style="background-color:#FAFAFA;">
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('event_name')">
            Name
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'event_name' && seq == 'ASC'">
                keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'event_name' && seq == 'DESC'">
                keyboard_arrow_up </span>
        </div>
        <div class="w-1/4 flex cursor-pointer" (click)="getEventList('date')">
            Date
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'date' && seq == 'ASC'"> keyboard_arrow_down
            </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'date' && seq == 'DESC'"> keyboard_arrow_up
            </span>
        </div>
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('idol_name')">
            Idol
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'idol_name' && seq == 'ASC'">
                keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'idol_name' && seq == 'DESC'">
                keyboard_arrow_up </span>
        </div>
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('fanbase_name')">
            Fanbase
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'fanbase_name' && seq == 'ASC'">
                keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'fanbase_name' && seq == 'DESC'">
                keyboard_arrow_up </span>
        </div>
        <div class="w-1/6 flex cursor-pointer" (click)="getEventList('venue_name')">
            Venue
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'venue_name' && seq == 'ASC'">
                keyboard_arrow_down </span>
            <span class="material-symbols-outlined" *ngIf="selectedOrder == 'venue_name' && seq == 'DESC'">
                keyboard_arrow_up </span>
        </div>
        <div class="w-1/12 text-end">
            Action
        </div>
    </div>

    <div class="flex flex-row px-2 py-3 space-x-10" *ngFor="let event of eventList">
        <div class="w-1/6">
            {{event.name}}
        </div>
        <div class="w-1/4">
            {{event.date[0]}} {{event.start_time[0]}} ~ {{event.end_time[0]}}
        </div>
        <div class="w-1/6">
            {{event.idol_name}}
        </div>
        <div class="w-1/6">
            {{event.fanbase_name}}
        </div>
        <div class="w-1/6">
            {{event.venue_name}}
        </div>
        <div class="w-1/12">
            <div class="flex flex-row space-x-2 justify-end">
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1"
                    [routerLink]="['/event/detail', event.id]"> edit </a>
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1"
                    [routerLink]="['/booking', event.id]" *ngIf="event.is_booking_need"> confirmation_number
                </a>
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1 cursor-pointer"
                    (click)="deleteEvent(event.id, event.name)"> delete </a>
            </div>
        </div>
    </div>
</div>