<div class="flex flex-row justify-between mb-3">
    <div class="text-3xl font-bold">{{venueList.length}} venue(s)</div>
    <button type="button" class="rounded-md bg-black text-white px-2" routerLink="/venue/detail">+ Create new</button>
</div>
<div class="rounded-md bg-white px-5 py-5">
    <div class="flex flex-row px-2 py-3 border space-x-10" style="background-color:#FAFAFA;">
        <div class="w-5/12 flex flex-row">
            Name
            <!-- <span class="material-symbols-outlined"> keyboard_arrow_down </span> -->
        </div>
        <div class="w-1/2 flex flex-row">
            Address
            <!-- <span class="material-symbols-outlined"> keyboard_arrow_down </span> -->
        </div>
        <div class="w-1/12 text-end">
            Action
        </div>
    </div>
    <div class="flex flex-row px-2 py-3 space-x-10" *ngFor="let venue of venueList">
        <div class="w-5/12">
            {{venue.name}}
        </div>
        <div class="w-1/2 break-all">
            {{venue.address}}
        </div>
        <div class="w-1/12">
            <div class="flex flex-row space-x-2 justify-end">
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1"
                    routerLink="/venue/detail/{{venue.id}}"> edit </a>
                <a class="material-symbols-outlined bg-black text-white rounded-md px-0.5 py-1 cursor-pointer" (click)="deleteVenue(venue.id, venue.name)"> delete </a>
            </div>
        </div>
    </div>
</div>